* {
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    margin-left: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: #f6f2fe;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    color: rgb(13, 12, 12);
    transition: 1.5 ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(8, 174, 80);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 20%;
    height: 2px;
    background-color:rgb(8, 174, 80);
    position: absolute;
    bottom: -4px;
    left: 10px;
}



