* {
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    margin-left: 20px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background: #f6f2fe;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(13, 12, 12);
    transition: 1.5 ease;
}

#navbar li a:hover,
#navbar li a.active {
    font-size: 30px;
}

/* Home page */


#bags {
    background-color: rgb(243, 246, 255);
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    padding: 0 200px;
}

.text {
    width: 50%;
    position: relative;
    top: 5rem;
    font-family:'Times New Roman', Times, serif;
}

.text h1 {
    color: rgb(13, 151, 20);
}

.text span {
    color: rgb(214, 14, 14);
    font-size: larger;
}

.button {
   
}

.bag img {
  position: relative;
  width: 250px;
  top: 10rem;
  left: 7rem;
  
}

#features {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

#features .box {
    width: 185px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
    box-shadow: 10px 20px 30px rgb(221, 221, 221);
    margin: 15px 35px;
    position: relative;
    display: flex;
    flex-direction: column;
}


#features .box img {
    width: 60%;
    display: block;
    margin: auto;
}

#features .box h4 {
   position: relative;
   font-size: 20px;
   padding: 10px 10px;
}

#features .box:hover {
    background-color: rgb(243, 246, 255);
    cursor: pointer;
}
  /* slider style*/

#product {
    padding: 30px;
}

#product h2 {
    text-align: center;
}

#something {
    background-color: rgb(78, 37, 192);
    grid-area: something;
}

/* shop page*/

#pro-container {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}